@import url(http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(font/roboto/stylesheet.css);

html, body {
	height: 100%;
}

body {
	position: relative;
	width: 800px;
	margin: 0 auto;
	
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYWFhYWFhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(170,170,170,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(170,170,170,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(170,170,170,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(170,170,170,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(170,170,170,1) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(170,170,170,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#title1, #title2 {
	position: absolute;
	font-family: 'Monsieur La Doulaise', cursive;
	
	text-shadow: 2px 2px 8px #444;
}

#title1 {
	top: 0;
	left: 250px;
	
	font-size: 144px;
}

#title2 {
	top: 70px;
	left: 0;
	font-size: 169px;
}

#text2012 {
	position: absolute;
	top: 240px;
	left: 540px;
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg); /* IE 9 */
	-webkit-transform: rotate(-10deg); /* Safari and Chrome */
	-o-transform: rotate(-10deg); /* Opera */
	-moz-transform: rotate(-10deg); /* Firefox */
	z-index: -1;
	
	font-size: 120px;
	font-family: 'RobotoBlack', sans-serif;
	color: #ff0;
	letter-spacing: -10px;
	text-shadow: 0px 5px 20px #ddd;
}

#authors {
	position: absolute;
	top: 320px;
	left: 0;
	
	font-family: 'RobotoLight', sans-serif;
	font-size: 18px;
	color: #444;
}

#desc {
	position: absolute;
	top: 380px;
	
	font-family: 'RobotoThin', sans-serif;
	font-size: 22px;
	line-height: 1.2;
	text-align: justify;
}

#signup {
	position: absolute;
	top: 500px;
}

#signup-text {
	font-family: 'RobotoLight', sans-serif;
	font-size: 24px;
}

#email {
	height: 26px;
	
	border: 1px solid #aaa;
	background: #fff;
	box-shadow: inset 0px 0px 8px #ddd;
	border-radius: 2px;
}
